<div class="modal fade" id="addDweetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-radius">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea ng-model="draftDweet" maxlength="DWEET_CHAR_LIMIT" id="modal-dweet-box" name="dweet" rows="5" cols="33" placeholder="What's happening?"></textarea>
      </div>
      <div class="modal-footer">
        <button ng-click="postDweet(draftDweet)" type="button" class="btn dark-sky-back border-radius c-w" ng-disabled="!draftDweet.length">Dweet</button>
      </div>
    </div>
   </div>
</div>