<div class="dweet-directive border-radius">
    <div class="dweet-profile-pic"></div>
    <div>
        <p>
            <span ng-bind="dweetObj.fullname"></span> &nbsp;
            <span class="font-light">
                <img src='libraries/octicons/icons/mention-16.svg' alt="icon name">
                <span ng-bind="dweetObj.username"></span>
            </span> &nbsp;
            <span class="font-light" ng-bind="dweetObj.posted_when"></span>
        </p>
        <p ng-bind="dweetObj.dweet"></p>
        <div>
            <div class="icon-box">
                <img src='libraries/octicons/icons/comment-16.svg' alt="comment">
                <span class="figure-span" ng-bind="dweetObj.comments_count || '' "></span>
            </div>
            <div class="icon-box">
                <img src='libraries/octicons/icons/git-compare-16.svg' alt="icon name">
            </div>
            <div class="icon-box">
                <img ng-if="!dweetObj.current_user_liked" src='libraries/octicons/icons/heart-16.svg' ng-click="likeDweet(dweetObj.id)" alt="like">
                <img ng-if="dweetObj.current_user_liked" class="svg-red-heart" src='libraries/octicons/icons/heart-fill-16.svg' ng-click="likeDweet(dweetObj.id)" alt="like">
                <span class="figure-span" ng-bind="dweetObj.likes_count || ''"></span>
            </div>
        </div>
    </div>
</div>
