{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div ng-init="homepageInit()">
    <dweet ng-repeat="df in dweetsFeed" data="df" comment-window="commentWindow(df)" ng-click="selectDweet(df)"></dweet>


    <!-- Add Dweet Modal -->
    <div ng-include="'templates/add_dweet_modal.html'"></div>

    <div class="modal fade" id="commentDweetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content border-radius">
          <div class="modal-header">
            <h5 class="modal-title" id="commentDweetModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div ng-include="'templates/dweet-msg-template.html'"></div>
              <div class="font-light">Replying to
                  <span class="font-light">
                    <img src='libraries/octicons/icons/mention-16.svg' alt="icon name">
                    <span ng-bind="dweetObj.username"></span>
                </span> &nbsp;
              </div>
            <textarea ng-model="draftComment" maxlength="DWEET_CHAR_LIMIT" id="modal-dweet-box" name="dweet" rows="5" cols="33" placeholder="Dweet your reply"></textarea>
          </div>
          <div class="modal-footer">
            <button ng-click="commentOnDweet(dweetObj, draftComment)" type="button" class="btn dark-sky-back border-radius c-w" ng-disabled="!draftComment.length">Reply</button>
          </div>
        </div>
       </div>
    </div>
    </div>

{% endblock %}
