{% extends 'index.html' %}
{% load static %}

{% block content %}

<div ng-controller="profileCtrl">
    <div>
<!--        Space for timeline pic-->
    </div>
    <div>
        <div style="clear:both;">
<!--            <img> Profile Pic-->
            <a class="m_t" >
                <div class="i_b pad-3 f-bold f_r dweet-btn div-round-border" ng-class="classesArr.classes" ng-click="followUser(profile.userInfo.username)">
                    <span ng-bind="classesArr.btnText"></span>
                </div>
            </a>
        </div>
        <div>
            <div ng-bind="profile.userInfo.fullname"></div>
            <div>
                <span class="font-light">
                    <img src='libraries/octicons/icons/mention-16.svg' alt="icon name">
                    <span ng-bind="profile.userInfo.username"></span>
                </span>
            </div>
        </div>
        <div>
            <p ng-bind="profile.userInfo.bio"></p>
        </div>
        <div>
            <div class="i_b">
                <span ng-bind="profile.userInfo.following"></span> Following
                &nbsp;
                <span ng-bind="profile.userInfo.followers"></span> Followers
            </div>
        </div>
        <br><br>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="dweet-tab" data-toggle="tab" href="#dweet" role="tab" aria-controls="dweet" aria-selected="true">Dweet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="likes-tab" data-toggle="tab" href="#likes" role="tab" aria-controls="likes" aria-selected="false">Likes</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="dweet" role="tabpanel" aria-labelledby="dweet-tab">
                  <dweet ng-repeat="df in profile.userDweets" data="df" comment-window="commentWindow(df)" ng-click="selectDweet(df)"></dweet>
                </div>
              <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
                  Content#2
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}