{% extends 'index.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block content %}

<div ng-controller="profileCtrl">
    <div>
<!--        Space for timeline pic-->
    </div>
    <div>
        <div style="clear:both;">
<!--            <img> Profile Pic-->
            <img class="b_r2" ng-src="{% get_media_prefix %}[[profile.userInfo.profile_photo]]" width="[[PROFILE_DP_DIMENSIONS]]" height="[[PROFILE_DP_DIMENSIONS]]">
            <a class="m_t" ng-if="showFollowBtn">
                <div class="i_b pad-3 f-bold f_r dweet-btn div-round-border" ng-class="classesArr.classes" ng-click="followUser(profile.userInfo.username)">
                    <span ng-bind="classesArr.btnText"></span>
                </div>
            </a>
            <a class="m_t" ng-if="!showFollowBtn">
                <div class="i_b pad-3 f-bold f_r dweet-btn div-round-border dark-sky-back c-w" data-toggle="modal" data-target="#updateProfileModal">
                    <span>Update Profile</span>
                </div>
            </a>
        </div>
        <div>
            <div ng-bind="profile.userInfo.fullname"></div>
            <div>
                <span class="font-light">
                    <img src='{{STATIC_PREFIX}}libraries/octicons/icons/mention-16.svg' alt="icon name">
                    <span ng-bind="profile.userInfo.username"></span>
                </span>
            </div>
        </div>
        <div>
            <p ng-bind="profile.userInfo.bio"></p>
        </div>
        <div>
            <div class="i_b">
                <span ng-bind="profile.userInfo.following"></span> Following
                &nbsp;
                <span ng-bind="profile.userInfo.followers_count"></span> Followers
            </div>
        </div>
        <br><br>
        <div>
            <ul class="nav nav-tabs m_b" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="dweet-tab" data-toggle="tab" href="#dweet" role="tab" aria-controls="dweet" aria-selected="true">Dweet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="likes-tab" data-toggle="tab" href="#likes" role="tab" aria-controls="likes" aria-selected="false">Likes</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="dweet" role="tabpanel" aria-labelledby="dweet-tab">
                  <dweet template="{{STATIC_PREFIX}}templates/dweet-template.html" ng-repeat="df in profile.userDweets" data="df" comment-window="commentWindow(df)" ng-click="selectDweet(df)"></dweet>
                </div>
              <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
                 <dweet template="{{STATIC_PREFIX}}templates/dweet-template.html" ng-repeat="df in profile.likedDweets" data="df" comment-window="commentWindow(df)" ng-click="selectDweet(df)"></dweet>
              </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content border-radius">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0;">
              <span aria-hidden="true">&times;</span>
            </button>
              <button class="btn btn-primary t_a_r" ng-click="saveProfile()">Save</button>
          </div>

          <div class="modal-body">

                <h5>Describe Yourself</h5>
                <p>What makes you special?</p>
                <textarea class="w_100" ng-model="editProfile.bio" maxlength="BIO_CHAR_LIMIT" name="bio" rows="5" cols="33"></textarea>
                <div class="t_a_r">
                    <span ng-bind="editProfile.bio.length || 0"></span>/<span ng-bind="BIO_CHAR_LIMIT"></span>
                </div>
                <br>
                <h5>Pick a profile picture</h5>
                <p>Have a favourite selfie? Upload it now</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <input ng-model="editProfile.pic" id="profile_pic" type="file" class="btn" name="image">
                    </p>
                    <input type="submit" value="Submit" />
                </form>
          </div>

          <div class="modal-footer">

          </div>
        </div>
       </div>
    </div>
</div>

{% endblock %}