div#homepage-div{
    font-size: 1em;
    font-family: helvetica;
    padding-top: 10px;
}
div#homepage-div>div:first-child{
    margin-bottom: 10px;
}
.border-radius{ border-radius: 20px;}
.b_r2{border-radius: 50%;}
.sky-back { background-color: rgb(29,161,242,0.1); }
.dark-sky-back { background-color: rgb(29,161,242,1); }
.search-box {
    border: none;
}
.input-group-text{ border: none}
#search-box-div div.input-group-text{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#search-box-div>div{
    display: inline-block;
}
#search-box-div input{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.options-menu-item{
    font-size: 1.2em;
    /*margin-bottom: 1.2em;*/
}
nav.menu-navigation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-content: flex-start;
}
nav.menu-navigation div{
    transition: background-color 0.2s;
    border-top-left-radius: 2.1em;
    border-bottom-left-radius: 2.1em;
    border-top-right-radius: 2.1em;
    border-bottom-right-radius: 2.1em;
}
.nav_pad {padding: 0.7em 1.2em;}
.div-round-border{
    border-top-left-radius: 2.1em;
    border-bottom-left-radius: 2.1em;
    border-top-right-radius: 2.1em;
    border-bottom-right-radius: 2.1em;
}
nav.menu-navigation div:hover{
    background-color: rgb(29,161,242,0.1);
    color: rgb(29,161,242,1.0);
}
nav.menu-navigation a:hover{text-decoration: none;}
.dweet-btn{
    text-align: center;
    color: white;
}
.c-w{color: white;}
.c-b{color: rgb(29,161,242,1);}
.m_t{margin-top: 20px;}
.m_b{margin-bottom: 10px;}
.f_r { float: right; }
.i_b {display: inline-block;}
.flex{display: flex}
.bo_bo {border-bottom: 1px #e8f5f6 solid;}
.bo_blue{border: 1px solid rgb(29,161,242,1.0);}
.pad_1{ padding: 15px 5px;}
.pad_2 {padding: 15px;}
.pad-3 {padding: 5px 15px;}
.v_a{vertical-align: text-bottom;}
.v_a_t{vertical-align: top;}
.f-bold {font-weight: bold;}
.w_100 {width: 100%;}
.t_a_r{text-align: right;}
.dweet_font{
    font-size: 1.6em;
    font-stretch: 100%;
}
#modal-dweet-box {
    width: 100%;
    border-style: none;
}
#addDweetModal .modal-footer{ border-top: none; }
.blue-border {border: 2px solid #e8f5f6; }
#chevron-user-logout{
    position: fixed;
    z-index: 10;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
#current-user-info-holder{
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}
#chevron-user-logout>div:last-child{
cursor: pointer;
}
#chevron-user-logout>div:last-child:hover{background-color: rgb(243 243 243);}
